<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title><%= title %></title>    
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="text-center"><%= title %></h1>
    <!-- <p>Welcome to <%= title %></p> -->
    <div class="container">
      <div class="content">
        <h2>Comandos Básicos</h2>
        <input id="tiempo" type="number" step="any" placeholder="Tiempo en segundos">
        <input id="direccion" type="text" placeholder="Dir" class="small">
        <span id="direccion-desc" class="color-orange">Parado!</span>
        <div class="row margin-bottom">
          <button id="fwd" type="button" class="action-basic">
            <i class="fa fa-arrow-up"></i>
            <span>
              Adelante
            </span>
          </button>
        </div>
        <div class="row margin-bottom">
          <button id="left" type="button" class="action-basic">
            <i class="fa fa-arrow-left"></i>
            <span>Izquierda</span>
          </button>
          <button id="stop" type="button" class="action-basic orange">
            <i class="fa fa-stop"></i>
            <span>Para!</span>
          </button>
          <button id="right" type="button" class="action-basic">
            <i class="fa fa-arrow-right"></i>
            <span>Derecha</span>
          </button>
        </div>
        <div class="row margin-bottom">
          <button id="back" type="button" class="action-basic">
            <i class="fa fa-arrow-down"></i>
            <span>Atras</span>
          </button>
        </div>
      </div>
      <div class="content">
        <h2>Comandos Especiales</h2>
        <input id="comando" type="text" placeholder="Ingresa el comando">
        <button type="button" class="action-basic" id="enviar-comando">Enviar!</button>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>    
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/soccer.js"></script
  </body>
</html>
